<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.old_password.label_tag }} {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
        <div class="fieldWrapper">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="fieldWrapper">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
