{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                <span></span> صفحات <span></span> درباره ما
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="{% static 'assets/imgs/page/vira_logo.JPG' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4">
                        </div>
                        <div class="col-lg-6">
                            <div class="pr-25">
                                <h2 class="mb-30">به ویرا درمان  خوش آمدید</h2>
                                <p class="mb-25">به ویرا درمان، پیشگام در ارائه تجهیزات و خدمات پزشکی، خوش آمدید. ما با استفاده از جدیدترین فناوری‌ها و استانداردهای جهانی در زمینه تولید و عرضه تجهیزات پزشکی، به بهبود کیفیت زندگی و سلامت جامعه کمک می‌کنیم. تیم ما متشکل از متخصصین مجرب است که با تمرکز بر رضایت مشتری و ارتقاء سطح بهداشت و درمان، همواره در تلاش است تا محصولات و خدماتی با بالاترین کیفیت و استانداردها ارائه دهد. در ویرا درمان، اعتقاد ما بر این است که سلامتی بالاترین سرمایه است و ما به عنوان یک شریک مسئولیت‌پذیر در این راه، همواره در کنار شما خواهیم بود.</p>
                                <p class="mb-50"> جایی که نوآوری و کیفیت در عرصه تجهیزات پزشکی به هم می‌رسند. ما با هدف بهبود خدمات بهداشتی و درمانی، تلاش می‌کنیم تا محصولات متنوع و با کیفیتی را برای پزشکان، بیمارستان‌ها و مراکز درمانی فراهم کنیم. در ویرا درمان، مشتریان ما اولویت اول ما هستند و با ارائه پشتیبانی فنی و خدمات پس از فروش بهینه، اطمینان حاصل می‌کنیم که نیازهای شما به بهترین شکل ممکن برآورده شود. ما با افتخار متعهد به بهبود سلامت جامعه از طریق ارائه تجهیزات پزشکی پیشرفته و قابل اعتماد هستیم.</p>
                                <div class="carausel-3-columns-cover position-relative">
                                    <div id="carausel-3-columns-arrows"></div>
                                    <div class="carausel-3-columns" id="carausel-3-columns">
                                        <img src="{% static 'assets/imgs/page/about-2.webp' %}" alt="">
                                        <img src="{% static 'assets/imgs/page/about-3.webp' %}" alt="">
                                        <img src="{% static 'assets/imgs/page/about-4.webp' %}" alt="">
                                        <img src="{% static 'assets/imgs/page/about-5.webp' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="text-center mb-50">
                        <h2 class="title style-3 mb-40">آنچه ما ارائه میدهیم</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-1.svg' %}" alt="">
                                    <h4>تخفیفات فصلی</h4>
                                    <p>  در ویرا درمان از تخفیف‌های فصلی و پیشنهادات ویژه ما بهره‌مند شوید و تجهیزات پزشکی خود را با بهترین قیمت‌ها تهیه کنید.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-2.svg' %}" alt="">
                                    <h4>همکاری با تامین‌کنندگان</h4>
                                    <p>ما با تامین‌کنندگان معتبر همکاری می‌کنیم تا محصولات با کیفیت و استانداردهای جهانی را به شما ارائه دهیم.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-3.svg' %}" alt="">
                                    <h4>شرایط فروش ویژه</h4>
                                    <p> با پیشنهادات ویژه و تخفیف‌های استثنایی ما می‌توانید بهترین تجهیزات پزشکی را با قیمتی مناسب خریداری کنید.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-4.svg' %}" alt="">
                                    <h4>مشاوره تخصصی</h4>
                                    <p>تیم مشاوره تخصصی ما آماده ارائه راهنمایی درست در انتخاب بهترین تجهیزات پزشکی با توجه به نیازهای شما است.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-5.svg' %}" alt="">
                                    <h4>ضمانت بازگشت کالا</h4>
                                    <p>ما به کیفیت محصولات خود اطمینان داریم و برای آسودگی خاطر شما، امکان بازگشت کالا را فراهم کرده‌ایم.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="{% static 'assets/imgs/theme/icons/icon-6.svg' %}" alt="">
                                    <h4>ارسال سریع و امن</h4>
                                    <p>ما تجهیزات پزشکی را به سرعت و با دقت به تمامی نقاط کشور ارسال می‌کنیم تا نیازهای شما را در کوتاه‌ترین زمان ممکن برآورده کنیم.</p>
                                    {% comment %} <a href="#">ادامه مطلب</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row align-items-center mb-50">
                        <div class="row mb-50 align-items-center">
                            <div class="col-lg-7 pr-30">
                                <img src="{% static 'assets/imgs/page/about-6.webp' %}" alt="" class="mb-md-3 mb-lg-0 mb-sm-4">
                            </div>
                            <div class="col-lg-5">
                                <h4 class="mb-20 text-muted">عملکرد ما</h4>
                                <h1 class="heading-1 mb-40"> شریک شما برای تجارت الکترونیک</h1>
                                <p class="mb-30">ویرا درمان همواره در تلاش است تا با استفاده از فناوری‌های نوین و راهکارهای پیشرفته، نقش مهمی در توسعه و رشد کسب‌وکارهای حوزه پزشکی ایفا کند. ما با ارائه پلتفرم‌های هوشمند و سیستم‌های کارآمد، به شما کمک می‌کنیم تا با امنیت و کارایی بالا، وارد دنیای تجارت الکترونیک شوید.</p>
                                <p>در دنیای امروز، حضور در فضای دیجیتال دیگر یک انتخاب نیست، بلکه یک ضرورت است. ویرا درمان با درک عمیق از نیازهای بازار پزشکی، امکانات و تجهیزاتی فراهم می‌کند که به شما این امکان را می‌دهد تا محصولات و خدمات خود را به طور حرفه‌ای و آنلاین به مشتریان خود ارائه دهید و تجربه‌ای منحصر به فرد برای آن‌ها خلق کنید.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">دیگر خدمات</h3>
                                <p>علاوه بر فروش تجهیزات پزشکی، ویرا درمان خدمات دیگری از جمله آموزش‌های تخصصی، تعمیرات و نگهداری، و پشتیبانی فنی ۲۴ ساعته را ارائه می‌دهد تا اطمینان حاصل کند که مشتریان ما همیشه به بهترین خدمات دسترسی دارند.</p>
                            </div>
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">تاریخچه</h3>
                                <p> ویرا درمان با بیش از پنج سال تجربه در صنعت تجهیزات پزشکی، همواره در تلاش بوده تا با بهره‌گیری از فناوری‌های نوین، محصولات باکیفیت و قابل اعتماد را به مشتریان خود ارائه دهد. این شرکت با سابقه‌ای غنی، به عنوان یکی از پیشروان در این عرصه شناخته می‌شود.</p>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="mb-30">مراحل</h3>
                                <p>ما با رویکردی دقیق و سیستماتیک، تمامی مراحل از مشاوره اولیه تا پشتیبانی پس از فروش را با دقت و تعهد کامل انجام می‌دهیم. تیم ما همواره در کنار شماست تا اطمینان حاصل کنیم که تجهیزات خریداری‌شده به درستی کار می‌کنند و نیازهای شما را برآورده می‌سازند.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="container mb-50 d-none d-md-block">
            <div class="row ">
                <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                    <h1 class="heading-1"><span class="count">5</span>+</h1>
                    <h4>سال فعالیت</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">36</span>+</h1>
                    <h4>مشتریان راضی</h4>
                </div>
                 <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">58</span>+</h1>
                    <h4>بیمارستان های تحت قرارداد</h4>
                </div> 
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">14</span>+</h1>
                    <h4>تیم تبلیغات</h4>
                </div>
                <div class="col-lg-1-5 text-center d-none d-lg-block">
                    <h1 class="heading-1"><span class="count">626</span>+</h1>
                    <h4>فروش محصول</h4>
                </div>
            </div>
        </section>
        {% comment %} <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <h2 class="title style-3 mb-40 text-center">تیم ما</h2>
                        <div class="row">
                            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                <h6 class="mb-5 text-brand">تیم ما</h6>
                                <h1 class="mb-30">ملاقات با تیم ما</h1>
                                <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                <a href="#" class="btn">مشاهده کل تیم</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="team-card">
                                            <img src="{% static 'assets/imgs/page/about-6.png' %}" alt="">
                                            <div class="content text-center">
                                                <h4 class="mb-5">طراحان وب</h4>
                                                <span>طراحی سایت</span>
                                                <div class="social-network mt-20">
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="team-card">
                                            <img src="{% static 'assets/imgs/page/about-8.png' %}" alt="">
                                            <div class="content text-center">
                                                <h4 class="mb-5">طراحان وب</h4>
                                                <span>طراحی سایت</span>
                                                <div class="social-network mt-20">
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</main>
{% endblock content %}