{% extends "partials/base.html" %}
{% load static %}
{% block content %}



        <main class="main">
            <div class="page-header mt-30 mb-75">
                <div class="container">
                    <div class="archive-header">
                        <div class="row align-items-center">
                            <div class="col-xl-3">
                                <h1 class="mb-15"> دسته بندی ها </h1>
                                <div class="breadcrumb">
                                    <a href="index.html" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                                    <span></span> دسته بندی ها
                                </div>
                            </div>
                            {% comment %} <div class="col-xl-9 text-end d-none d-xl-block">
                                <ul class="tags-list">
                                    <li class="hover-up">
                                        <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>خرید</a>
                                     </li>
                                     <li class="hover-up active">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>دستورالعمل ها</a>
                                     </li>
                                     <li class="hover-up">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>آشپزخانه</a>
                                     </li>
                                     <li class="hover-up">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>اخبار</a>
                                     </li>
                                     <li class="hover-up mr-0">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>غذا</a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="shop-product-fillter mb-50 pr-30">
                                <div class="totall-product">
                                    <h2>
                                        <img class="w-36px mr-10" src="assets/imgs/theme/icons/category-1.svg" alt="">
                                        {{ categories.count }} دسته
                                    </h2>
                                </div>

                                <div class="sort-by-product-area">
                                    <div class="sort-by-cover mr-10">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span>نمایش:<i class="fi-rs-apps"></i></span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <ul>
                                                <li><a class="active" href="#">50</a></li>
                                                <li><a href="#">100</a></li>
                                                <li><a href="#">150</a></li>
                                                <li><a href="#">200</a></li>
                                                <li><a href="#">همه</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sort-by-cover">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps-sort"></i>مرتب سازی:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span><i class="fi-rs-angle-small-down"></i> ویژه ها</span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <ul>
                                                <li><a class="active" href="#">ویژه</a></li>
                                                 <li><a href="#">جدیدترین</a></li>
                                                 <li><a href="#">بیشترین نظرات</a></li>
                                                 <li><a href="#">تاریخ انتشار</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loop-grid loop-list pr-30 mb-50">

                                {% for category in categories %}
                                <article class="wow fadeIn animated hover-up mb-30 animated">
                                    <div class="post-thumb" style="background-image: url('{{ category.image.url }}')">
                                        <div class="entry-meta">
                                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="entry-content-2 pl-50">
                                        <h3 class="post-title mb-20">
                                            <a href="blog-post-right.html">{{category.title}}</a>
                                        </h3>
                                        <p class="post-exerpt mb-40">{{category.description}}</p>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 تیر 1400</span>
                                                <span class="hit-count has-dot">{{category.category.count}} product </span>
                                            </div>
                                            <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">ادامه مطلب <i class="fi-rs-arrow-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}

                            </div>
                            {% comment %} <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="widget-area">
                                <div class="sidebar-widget-2 widget_search mb-50">
                                    <div class="search-form">
                                        <form action="#">
                                            <input type="text" placeholder="جستجو برای ...">
                                            <button type="submit"><i class="fi-rs-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="sidebar-widget widget-category-2 mb-50">
                                    <h5 class="section-title style-1 mb-30">دسته بندی</h5>
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-1.svg" alt="">شیر و لبنیات</a><span class=" count">30</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-2.svg" alt="">لباس</a><span class="count" >35</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-3.svg" alt="">غذاهای حیوانات خانگی </a><span class="count ">42</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-4.svg" alt="">مواد پخت</a><span class="count ">68</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-5.svg" alt="">میوه تازه</a><span class="count ">87</span> 
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product sidebar Widget -->
                                <div class="sidebar-widget product-sidebar mb-50 p-30 bg-grey border-radius-10">
                                    <h5 class="section-title style-1 mb-30">خرید در جریان</h5>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h5><a href="shop-product-detail.html">آب پرتقال 1 لیتری</a></h5>
                                            <p class="price mb-0 mt-5">99.000 تومان</p>
                                            <div class="product-rate">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h6><a href="shop-product-detail.html">موز 2 کیلویی</a></h6>
                                            <p class="price mb-0 mt-5">89.000 تومان</p>
                                            <div class="product-rate">
                                                <div class="product-rating" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h6><a href="shop-product-detail.html">هندوانه 2 عددی</a></h6>
                                            <p class="price mb-0 mt-5">25.000 تومان</p>
                                            <div class="product-rate">
                                                <div class="product-rating" style="width: 60%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="assets/imgs/shop/thumbnail-6.jpg" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h6><a href="shop-product-detail.html">لورم ایپسوم</a></h6>
                                            <p class="price mb-0 mt-5">20.000 تومان</p>
                                            <div class="product-rate">
                                                <div class="product-rating" style="width: 60%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-widget widget_instagram mb-50">
                                    <h5 class="section-title style-1 mb-30">گالری</h5>
                                    <div class="instagram-gellay">
                                        <ul class="insta-feed">
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-1.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-2.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-3.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-4.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-5.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#"><img class="border-radius-5" src="assets/imgs/shop/thumbnail-6.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Tags-->
                                <div class="sidebar-widget widget-tags mb-50 pb-10">
                                    <h5 class="section-title style-1 mb-30">ابر برچسب</h5>
                                    <ul class="tags-list">
                                        <li class="hover-up">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>کلم</a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>کلم بروکلی</a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>اسموتی</a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>میوه</a>
                                        </li>
                                        <li class="hover-up mr-0">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>سالاد</a>
                                        </li>
                                        <li class="hover-up mr-0">
                                            <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>پیش غذا</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="banner-img wow fadeIn mb-50 animated d-lg-block d-none">
                                    <img src="assets/imgs/banner/banner-11.png" alt="">
                                    <div class="banner-text">
                                        <span>ارگانیک</span>
                                        <h4>
                                            تخفیف تا 17% <br>
                                            محصولات <span class="text-brand">ارگانیک</span><br>
                                            و آب میوه
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

      
{% endblock content %}