{% extends "partials/base.html" %}
{% load static %}
{% block content %}



        <main class="main">
            <div class="page-header mt-30 mb-75">
                <div class="container">
                    <div class="archive-header">
                        <div class="row align-items-center">
                            <div class="col-xl-3">
                                <h1 class="mb-15"> دسته بندی ها </h1>
                                <div class="breadcrumb">
                                    <a href="index.html" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                                    <span></span> دسته بندی ها
                                </div>
                            </div>
                            {% comment %} <div class="col-xl-9 text-end d-none d-xl-block">
                                <ul class="tags-list">
                                    <li class="hover-up">
                                        <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>خرید</a>
                                     </li>
                                     <li class="hover-up active">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>دستورالعمل ها</a>
                                     </li>
                                     <li class="hover-up">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>آشپزخانه</a>
                                     </li>
                                     <li class="hover-up">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>اخبار</a>
                                     </li>
                                     <li class="hover-up mr-0">
                                         <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>غذا</a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="shop-product-fillter mb-50 pr-30">
                                <div class="totall-product">
                                    <h2>
                                        <img class="w-36px mr-10" src="assets/imgs/theme/icons/category-1.svg" alt="">
                                        {{ categories.count }} دسته
                                    </h2>
                                </div>

                                <div class="sort-by-product-area">
                                    <div class="sort-by-cover mr-10">
                                        
                                        
                                    </div>
                                    <div class="sort-by-cover">
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="loop-grid loop-list pr-30 mb-50">

                                {% for category in categories %}
                                <article class="wow fadeIn animated hover-up mb-30 animated">
                                    <div class="post-thumb" style="background-image: url('{{ category.image.url }}')">
                                        <div class="entry-meta">
                                            <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="entry-content-2 pl-50">
                                        <h3 class="post-title mb-20">
                                            <a href="{% url 'core:category_product_list' category.cid %}">{{category.title}}</a>
                                        </h3>
                                        <p class="post-exerpt mb-40">{{category.description}}</p>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 تیر 1400</span>
                                                <span class="hit-count has-dot">{{category.category.count}} product </span>
                                            </div>
                                            <a href="{% url 'core:category_product_list' category.cid %}" class="text-brand font-heading font-weight-bold">ادامه مطلب <i class="fi-rs-arrow-left"></i></a>
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}

                            </div>
                            {% comment %} <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="widget-area">
                                <div class="sidebar-widget-2 widget_search mb-50">
                                    
                            
                                <div class="banner-img wow fadeIn mb-50 animated d-lg-block d-none">
                                    <img src="assets/imgs/banner/banner-11.png" alt="">
                                    <div class="banner-text">                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

      
{% endblock content %}