{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                <span></span> صفحات <span></span> تماس با ما
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-end mb-50">
                        <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                            <h4 class="mb-20 text-brand">چطور میتوانیم کمکتان کنیم ؟</h4>
                            <h1 class="mb-30">به ما اطلاع دهید که چگونه می توانیم به شما کمک کنیم</h1>
                            <p class="mb-20">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <h5 class="mb-20">01. تماس با ما</h5>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <h5 class="mb-20">02. تماس با ما</h5>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <div class="col-lg-6 mb-lg-0 mb-4">
                                    <h5 class="mb-20 text-brand">03. تماس با ما</h5>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mb-20">04.تماس با ما</h5>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="container mb-50 d-none d-md-block">
            <div class="border-radius-15 overflow-hidden">
                <div id="map-panes" class="leaflet-map"></div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <div class="row mb-60">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">دفتر</h4>
                                ایران ، استان البرز<br>
                                کرج ، شاهین ویلا<br>
                                <abbr title="تلفن">تلفن:</abbr> 0261234567<br>
                                <abbr title="ایمیل">ایمیل: </abbr><a href="#" class="__cf_email__" data-cfemail="cba8a4a5bfaaa8bf8b8ebdaab9aae5a8a4a6">site@yoursite.com</a><br>
                                <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>مشاهده نقشه</a>
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">استودیو</h4>
                                ایران ، استان البرز<br>
                                کرج ، شاهین ویلا<br>
                                <abbr title="تلفن">تلفن:</abbr> 0261234567<br>
                                <abbr title="ایمیل">ایمیل: </abbr><a href="#" class="__cf_email__" data-cfemail="cba8a4a5bfaaa8bf8b8ebdaab9aae5a8a4a6">site@yoursite.com</a><br>
                                <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>مشاهده نقشه</a>
                            </div>
                            <div class="col-md-4">
                                <h4 class="mb-15 text-brand">فروشگاه</h4>
                                ایران ، استان البرز<br>
                                کرج ، شاهین ویلا<br>
                                <abbr title="تلفن">تلفن:</abbr> 0261234567<br>
                                <abbr title="ایمیل">ایمیل: </abbr><a href="#" class="__cf_email__" data-cfemail="cba8a4a5bfaaa8bf8b8ebdaab9aae5a8a4a6">site@yoursite.com</a><br>
                                <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>مشاهده نقشه</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="contact-from-area padding-20-row-col">
                                    <h5 class="text-brand mb-10">تماس با ما</h5>
                                    <h2 class="mb-10">با ما در ارتباط باشید</h2>
                                    <p class="text-muted mb-30 font-sm">آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی با *</p>
                                    <form class="contact-form-style mt-30" id="contact-form" action="#" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input name="name" placeholder="نام" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input name="email" placeholder="ایمیل" type="email">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input name="telephone" placeholder="تلفن" type="tel">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input name="subject" placeholder="موضوع" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="textarea-style mb-30">
                                                    <textarea name="message" placeholder="پیام"></textarea>
                                                </div>
                                                <button class="submit submit-auto-width" type="submit">ارسال</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-50 d-lg-block d-none">
                                <img class="border-radius-15 mt-50" src="assets/imgs/page/contact-2.png" alt="">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}