{% extends "partials/base.html" %}
{% load static %}
{% block content %}
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="index.html" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                        <span></span> <a href="shop-grid-right.html">فروشگاه</a> <span></span> اطلاعات فروشنده
                    </div>
                </div>
            </div>
            <div class="container mb-30">
                <div class="row">
                    <div class="col-xl-11 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="product-detail accordion-detail">
                                    <div class="row mb-50 mt-30">
                                        <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                            <div class="detail-gallery">
                                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                                <!-- MAIN SLIDES -->
                                                <div class="product-image-slider">
                                                    <figure class="border-radius-10">
                                                        <img src="{{product.image.url}}" alt="product image">
                                                    </figure>
                                                    {% for product in product_image %}
                                                    <figure class="border-radius-10">
                                                        <img src="{{product_image.images.url}}" alt="product image">
                                                    </figure>
                                                    {% endfor %}
                                                    
                                                </div>
                                                <!-- THUMBNAILS -->
                                                <div class="slider-nav-thumbnails">
                                                    <div><img src="{{product.image.url}}" alt="product image"></div>
                                                    {% for product in product_image %}
                                                    <div><img src="{{product.image.url}}" alt="product image"></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- End Gallery -->
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="detail-info pr-30 pl-30">
                                                <span class="stock-status out-stock">{{product.get_percentage|floatformat:0}}%-</span>
                                        <h2 class="title-detail"> {{product.title}}</h2>
                                        <div class="product-detail-rating">
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (32 امتیاز)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">{{product.price}}</span>
                                                <span>
                                                    <span class="save-price font-md color3 ml-15">{{product.get_percentage|floatformat:0}}%-</span>
                                                    <span class="old-price font-md ml-15">{{product.old_price}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="short-desc mb-30">
                                            <p class="font-lg">{{product.description}}</p>
                                        </div>
                                        {% comment %} <div class="attr-detail attr-size mb-30">
                                            <strong class="mr-10">سایز / وزن: </strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#">50گرم</a></li>
                                                <li class="active"><a href="#">60گرم</a></li>
                                                <li><a href="#">80گرم</a></li>
                                                <li><a href="#">100گرم</a></li>
                                                <li><a href="#">150گرم</a></li>
                                            </ul>
                                        </div> {% endcomment %}
                                        <div class="detail-extralink mb-50">
                                            {% comment %} <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> {% endcomment %}
                                            <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10"
                                            <br>
                                            <div class="product-extra-link2">
                                                {% comment %} <input type="hidden" value="{{product.id}}" class="product-id" name="" id="">
                                                <input type="hidden" value="{{product.title}}" class="product-title" name="" id=""> {% endcomment %}
                                                
                                                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{product.id}}">
                                                <input type="hidden" value="{{product.pid}}" class="product-pid-{{product.id}}">
                                                <input type="hidden" value="{{product.image.url}}" class="product-image-{{product.id}}">
                                                <input type="hidden" value="{{product.id}}" class="product-id-{{product.id}}">
                                                <input type="hidden" value="{{product.title}}" class="product-title-{{product.id}}">
                                                <button class="add add-to-cart-btn" data-index="product.id" style="border:none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>خرید </button>
                                            
                                                <button type="submit" class="button button-add-to-cart add-to-cart-btn" data-index="{{product.id}}" id="add-to-cart-btn"><i class="fi-rs-shopping-cart"></i>افزودن به سبدخرید</button>
                                                <a aria-label="علاقه مندی" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="مقایسه" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <div class="font-xs">
                                            <ul class="mr-50 float-start">
                                                <li class="mb-5">نوع: <span class="text-brand">{{product.type}}</span></li>
                                                <li class="mb-5">تاریخ:<span class="text-brand">{{product.mfd}}</span></li>
                                                <li>گارانتی: <span class="text-brand">{{product.life}}</span></li>
                                            </ul>
                                            <ul class="float-start">
                                                <li class="mb-5">شناسه: <a href="#">{{product.sku}}</a></li>
                                                <li class="mb-5">برچسب: {% for tag in product.tags.all %} <a href="{% url 'core:tags' tag.slug %}" rel="tag">{{tag.name}}</a>,{% endfor %}</li>
                                                <li>موجودی:<span class="in-stock text-brand ml-5">{{product.stock_count}} عدد</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="tab-style3">
                                    <ul class="nav nav-tabs text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link فعال" id="Description-tab" data-bs-toggle="tab" href="#Description">شرح</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">اطلاعات اضافی</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">فروشنده</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">نظرات ({{reviews.count}})</a> 
                                        </li>
                                    </ul>
                                    <div class="tab-content shop_info_tab entry-main-content">
                                        <div class="tab-pane fade show active" id="Description">
                                            <div class="">
                                                <p>
                                                    {{product.description}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Additional-info">
                                            <table class="font-md">
                                                <tbody>
                                                    <tr class="stand-up">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-wo-wheels">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="folded-w-wheels">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="door-pass-through">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="frame">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="weight-wo-wheels">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="weight-capacity">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="width">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="handle-height-ground-to-handle">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="wheels">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="seat-back-height">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="head-room-inside-canopy">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="pa_color">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="pa_size">
                                                        <th>طراحان وب</th>
                                                        <td>
                                                            <p>محصول طراحان وب</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="Vendor-info">
                                            <div class="vendor-logo d-flex mb-30">
                                                <img src="{{product.vendor.image.url}}" alt="">
                                                <div class="vendor-name ml-15">
                                                    <h6>
                                                        <a href="vendor-details-2.html">{{product.vendor.title}}</a>
                                                    </h6>
                                                    <div class="product-rate-cover text-end">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width: 90%"></div>
                                                        </div>
                                                        <span class="font-small ml-5 text-muted"> (32 امتیاز)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="contact-infor mb-50">
                                                <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt=""><strong>آدرس: </strong> <span> {{product.vendor.address}} </span></li>
                                                <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt=""><strong>تلفن فروشنده:</strong><span>{{product.vendor.contact}}</span></li>
                                            </ul>
                                            <div class="d-flex mb-55">
                                                <div class="mr-30">
                                                    <p class="text-brand font-xs">امتیاز</p>
                                                    <h4 class="mb-0">92%</h4>
                                                </div>
                                                <div class="mr-30">
                                                    <p class="text-brand font-xs">خرید در لحظه</p>
                                                    <h4 class="mb-0">{{product.vendor.shipping_on_time}}%</h4>
                                                </div>
                                                <div>
                                                    <p class="text-brand font-xs">پشتیبانی</p>
                                                    <h4 class="mb-0">{{product.vendor.chat_resp_time}}%</h4>
                                                </div>
                                            </div>
                                            <p>{{product.vendor.description}}</p>
                                        </div>
                                        <div class="tab-pane fade" id="Reviews">
                                            <!--Comments-->
                                            <div class="comments-area">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h4 class="mb-30">نظرات</h4>
                                                        <div class="comment-list">
                                                            {% for review in reviews %}
                                                            <div class="single-comment justify-content-between d-flex mb-30">
                                                                
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="https://static.vecteezy.com/system/resources/previews/020/765/399/non_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="">
                                                                        <a href="#" class="font-heading text-brand">{{review.user.username|title}}</a>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="d-flex justify-content-between mb-10">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="font-xs text-muted">{{review.date}}</span>
                                                                            </div>
                                                                            <div>
                                                                                {% for star in review.rating|ljust:review.rating %}
                                                                                    <i class="fas fa-star text-warning"></i>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        <p class="mb-10">{{review.review}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h4 class="mb-30">امتیاز خریداران</h4>
                                                        <div class="d-flex mb-30">
                                                            <div class="product-rate d-inline-block mr-15">
                                                                <div class="product-rating" style="width: 90%"></div>
                                                            </div>
                                                            <h6>{{ average_rating.rating|floatformat:2 }} از 5</h6>
                                                        </div>
                                                        <div class="progress">
                                                            <span>5 </span>
                                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>4 </span>
                                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>3 </span>
                                                            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                        </div>
                                                        <div class="progress">
                                                            <span>2 </span>
                                                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                        </div>
                                                        <div class="progress mb-30">
                                                            <span>1 </span>
                                                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                        </div>
                                                        <a href="#" class="font-xs text-muted">چگونه به این محصول امتیاز دهید ؟</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--comment form-->
                                            {% if request.user.is_authenticated %}
                                            {% if make_review %}
                                            
                                            <div class="comment-form">
                                                <h4 class="mb-15 add-review">ارسال نظر</h4>
                                                <strong class="text-success" id="review-res"></strong>
                                                {% comment %} <div class="product-rate d-inline-block mb-30"></div> {% endcomment %}
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-12">
                                                        <form class="form-contact comment_form hide-comment-form" action="{% url 'core:ajax_add_review' product.id %}" id="commentForm" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        {{review_form.review}}
                                                                        {% comment %} <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="پیام شما"></textarea> {% endcomment %}
                                                                    </div>
                                                                </div>


                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        {{review_form.rating}}
                                                                        {% comment %} <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="پیام شما"></textarea> {% endcomment %}
                                                                    </div>
                                                                </div>
                                                                {% comment %} <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="name" id="name" type="text" placeholder="نام">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="email" id="email" type="email" placeholder="ایمیل">
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="website" id="website" type="text" placeholder="سایت">
                                                                    </div>
                                                                </div> {% endcomment %}
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" class="button button-contactForm">ارسال</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                {% if products %}
                                <div class="col-12">
                                    <h2 class="section-title style-1 mb-30">محصولات مشابه</h2>
                                </div>
                                {% endif %}
                                <div class="col-12">
                                    <div class="row related-products">

                                        {% for product in products %}
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'core:product_detail' product.pid %}" tabindex="0">
                                                            <img class="default-img" src="{{product.image.url}}" alt="">
                                                            <img class="hover-img" src="{{product.image.url}}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="مشاهده سریع" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="علاقه مندی" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="مقایسه" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">داغ</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="{% url 'core:product_detail' product.pid %}" tabindex="0">{{ product.title }}</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span> </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="current-price current-product-price-{{product.id}} text-brand">{{product.price}} </span>
                                                        <span class="old-price">{{product.old_price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                                <div class="sidebar-widget widget-delivery mb-30 bg-grey-9 box-shadow-none">
                                    <h5 class="section-title style-3 mb-20">تحویل</h5>
                                    <ul>
                                        <li>
                                            <i class="fi fi-rs-marker mr-10 text-brand"></i>
                                            <span>
                                                <p>
                                                    {{address.address}}
                                                </p>
                                            </span>
                                            <a href="#" class="change float-end">تغییر</a>
                                        </li>
                                        <li class="hr"><span></span></li>
                                    </ul>
                                    <h5 class="section-title style-3 mb-20">بازگشت و گارانتی</h5>
                                    <ul>
                                        <li>
                                            <i class="fi fi-rs-shield-check mr-10 text-brand"></i>
                                            <span> {{product.vendor.authentic_rating}}% معتبر </span>
                                         </li>
                                         <li>
                                             <i class="fi fi-rs-time-forward-ten mr-10 text-brand"></i>
                                             <span> {{product.vendor.days_return}} روز بازگشت </span>
                                         </li>
                                         <li>warranty_period
                                             <i class="fi fi-rs-diploma mr-10 text-brand"></i>
                                             <span> {{product.vendor.warranty_period}} ماه گارانتی </span> 
                                        </li>
                                    </ul>
                                </div>
                                <div class="sidebar-widget widget-vendor mb-30 bg-grey-9 box-shadow-none">
                                    <h5 class="section-title style-3 mb-20">فروشنده</h5>
                                    <div class="vendor-logo d-flex mb-30">
                                        <img src="{{product.vendor.image.url}}" alt="">
                                        <div class="vendor-name ml-15">
                                            <h6>
                                                <a href="vendor-details-2.html"> {{product.vendor.title}}</a>
                                            </h6>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (32 امتیاز)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="contact-infor">
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt=""><strong>آدرس: </strong> <span>{{product.vendor.address}}  </span></li>
                                        <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt=""><strong>تماس:</strong><span>{{product.vendor.contact}}</span></li>
                                        <li class="hr"><span></span></li>
                                    </ul>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="text-brand font-xs">امتیاز</p>
                                            <h4 class="mb-0">92%</h4>
                                        </div>
                                        <div>
                                            <p class="text-brand font-xs">ارسال به موقع</p>
                                            <h4 class="mb-0">{{product.vendor.shipping_on_time}}%</h4>
                                        </div>
                                        <div>
                                            <p class="text-brand font-xs">پشتیبانی</p>
                                            <h4 class="mb-0">{{product.vendor.chat_resp_time}}%</h4>
                                        </div>
                                    </div>
                                    <ul>
                                        <li class="hr"><span></span></li>
                                    </ul>
                                    <p>فروشنده هستید ؟ <a href="page-register.html"> ثبت نام کنید</a></p>
                                </div>
                                <div class="sidebar-widget widget-category-2 mb-30">
                                    <h5 class="section-title style-1 mb-30">دسته بندی</h5>
                            <ul>
                                <li>
                                    <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="">شیر و لبنیات</a><span class=" count">30</span>
                                </li>
                                <li>
                                    <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-2.svg' %}" alt="">لباس</a><span class="count" >35</span>
                                </li>
                                <li>
                                    <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-3.svg' %}" alt="">غذاهای حیوانات خانگی </a><span class="count ">42</span>
                                </li>
                                <li>
                                    <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-4.svg' %}" alt="">مواد پخت</a><span class="count ">68</span>
                                </li>
                                <li>
                                    <a href="shop-grid-right.html"> <img src="{% static 'assets/imgs/theme/icons/category-5.svg' %}" alt="">میوه تازه</a><span class="count ">87</span> 
                                </li>
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30">
                            <h5 class="section-title style-1 mb-30">فیلتر با قیمت</h5>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range" class="mb-20"></div>
                                    <div class="d-flex justify-content-between">
                                        <div class="caption">از: <strong id="slider-range-value1" class="text-brand"></strong></div>
                                        <div class="caption">تا: <strong id="slider-range-value2" class="text-brand"></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">رنگ</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>قرمز (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>سبز (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>آبی (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">آیتم ها</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>جدید (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>تعمیر شده (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>استفاده شده (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> فیلتر</a>
                        </div>
                        <!-- Product sidebar Widget -->
                        <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                            <h5 class="section-title style-1 mb-30">محصولات جدید</h5>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="shop-product-detail.html">آب پرتقال</a></h5>
                                    <p class="price mb-0 mt-5">99.000 تومان</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">موز</a></h6>
                                    <p class="price mb-0 mt-5">89.000 تومان</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width: 80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">هندوانه</a></h6>
                                    <p class="price mb-0 mt-5">25.000 تومان</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width: 60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                            <img src="{% static 'assets/imgs/banner/banner-11.png' %}" alt="">
                            <div class="banner-text">
                                <span>ارگانیک</span>
                                <h4>
                                    تخفیف 17 % <br>
                                    برای <span class="text-brand">محصولات</span><br>
                                    ارگانیک
                                </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
{% endblock content %}